<% layout("/layout/boilerplate") %>

<div class="listings-container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4">
        <% for(let listing of allListings) { %>
            <div class="col">
                <a href="/listing/<%= listing._id %>" class="text-decoration-none">
                    <div class="card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
                        <div class="card-body">
                            <h5 class="listing-title"><%= listing.title %></h5>
                            <p class="listing-location text-muted"><i class="fa-solid fa-location-dot"></i> <%= listing.location %>, <%= listing.country %></p>
                            <p class="listing-price">₹<%= listing.price.toLocaleString("en-IN") %>/night</p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</div>
</body>

